/node_modules/
/webtask-demo/Pods/
*/webtask-demo/.pbxuser
/webtask-demo/!default.pbxuser
*/webtask-demo/.mode1v3
!default.mode1v3
*/webtask-demo/.mode2v3
/webtask-demo/!default.mode2v3
*/webtask-demo/.perspectivev3
!/webtask-demo/default.perspectivev3
/webtask-demo/xcuserdata
*/webtask-demo/.xccheckout
*/webtask-demo/.moved-aside
/webtask-demo/DerivedData
*/webtask-demo/.hmap
*/webtask-demo/.ipa
*/webtask-demo/.xcuserstate
/webtask-demo/.DS_Store
